include "input.kdl"
include "output.kdl"
include "layout.kdl"
include "animations.kdl"
include "rules.kdl"
include "binds.kdl"
include "startup.kdl"

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
