spawn-at-startup "waybar"
spawn-at-startup "mako"
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
spawn-at-startup "swaybg" "-m" "zoom" "-i" "/home/seth/wall/wall2.png"
